<div align="center" style="padding-top: 5px;">
  <form style="vertical-align: middle;" action="<{$xoops_url}>/modules/smartshop/search.php" method="get">
    <input type="text" name="name_desc" size="14" style="vertical-align: middle;"/>
    <input type="hidden" name="op" value="post"/>
   <input type="image" src="<{$xoops_url}>/images/search2.gif" style="vertical-align: middle;" alt="<{$block.lang_search}>" onclick="this.form.submit()"/>
  </form>
</div>
<div align="center" style="padding-bottom: 5px;"><a href="<{$xoops_url}>/modules/smartshop/search.php"><{$block.lang_advsearch}></a></div>
<div></div>