<{$submit_intro}>
<div id="smartshop_submitform">
<{$additem.javascript}>
<form name="<{$additem.name}>" action="<{$additem.action}>" method="<{$additem.method}>" <{$additem.extra}>>
  <table class="outer" cellspacing="1">
    <tr>
    <th colspan="2"><{$additem.title}></th>
    </tr>
    <!-- start of form elements loop -->
    <{foreach item=element from=$additem.elements}>
      <{if $element.hidden != true}>
      <tr>
        <td class="head"><{$element.caption}>
        <{if $element.description}>
        	<div style="font-weight: normal"><{$element.description}></div>
        <{/if}>
        </td>
        <td class="<{cycle values="even,odd"}>"><{$element.body}>
        <!-- patch for movgames -->
        <{if $element.caption == 'Price' || $element.caption == 'Prix'}> <b>$CDN</b><{/if}>

        </td>
      </tr>
      <{else}>
      <{$element.body}>
      <{/if}>
    <{/foreach}>
    <!-- end of form elements loop -->
  </table>
</form>
</div>