<{include file='db:smartshop_header.html'}>

<{if $index_page}>
	<div class="item">
		<!-- Start categories loop -->
		<{foreach item=category from=$categories}>
			<div class="smartshop_category_index_list">
				<div class="smartshop_categoryname">
					<{if $category.self.image}>
						<img class="smartshop_category_image" src="<{$category.self.image}>" alt="<{$category.self.name}>" width="<{$category_list_image_width}>"/>
					<{/if}>
					<{if $isAdmin}>
						<{$category.self.editItemLink}><{$category.self.deleteItemLink}>
					<{/if}>
					<{$category.self.itemLink}>
				</div>
				<div>
					<{$category.self.description}>
				</div>
				<{if $category.sub}>
					<div class="smartshop_subcats">
						<div class="smartshop_subcats_info"><{$smarty.const._MD_SSHOP_SUBCATEGORIES}></div>
				  		<{foreach name=loop item=subcat from=$category.sub}>
				  			<{$subcat.self.itemLink}><{if $smarty.foreach.loop.iteration < $category.subcatscount}> -<{/if}>
				  		<{/foreach}>
				  	</div>
			  	<{/if}>
			</div>
		<{/foreach}>
		<!-- End categories loop -->
	</div>
<{else}>
	<div>
		<!-- Start categories loop -->
		<{foreach item=category from=$categories}>
			<div class="smartshop_categoryname">
				<{if $isAdmin}>
					<{$category.self.editItemLink}><{$category.self.deleteItemLink}>
				<{/if}>
				<{$category.self.name}>
			</div>
			<div>
				<{if $category.self.image}>
					<img class="smartshop_category_image" src="<{$category.self.image}>" alt="<{$category.self.name}>" width="<{$category_list_image_width}>"/>
				<{/if}>
				<{$category.self.description}>
			</div>
			<div class="smartshop_category_header">
				<{$category.self.header}>
			</div>
			<{if $category.sub}>
				<div class="smartshop_subcats">
					<div class="smartshop_subcats_info"><{$smarty.const._MD_SSHOP_SUBCATEGORIES}></div>
			  		<{foreach name=loop item=subcat from=$category.sub}>
			  			<{$subcat.self.itemLink}><{if $smarty.foreach.loop.iteration < $category.subcatscount}> -<{/if}>
			  		<{/foreach}>
			  	</div>
		  	<{/if}>
		<{/foreach}>
		<!-- End categories loop -->
	</div>
<{/if}>

<div class="smartshop_items_list">
	<{if $items}>
		<div class="smartshop_pages_navbar"><{$itemnav}></div>
		<div id="smartshop_item">
			<{foreach item=item from=$items}>
				<div id="smartshop_items_list_item">
					<table border="1" cellspacing="0" cellpadding="0"class="smartshop_table_items">
						<tr>
							<{if $item.image}>
					  			<td height="100" class="smartshop_items_image">
					  				<{if $smartshop_module_use == 'adds'}>
					  					<a href="<{$item.link_url}>" target="_blank"><img src="<{$item.image}>"</a>
					  				<{elseif $smartshop_module_use=='boutique'}>
					  					<a href="<{$item.itemUrl}>"><img src="<{$item.image}>"</a>
					  				<{/if}>
					  			</td>
					  		<{/if}>
					    	<td>
								<div id="smartshop_items_name">
									<{if $smartshop_module_use == 'adds'}>
										<{$item.name}>
									<{elseif $smartshop_module_use=='boutique'}>
										<{$item.itemLink}>
									<{/if}>
								</div>
								<{if $display.description}>
									<div id="smartshop_items_description"><{$item.description}></div>
								<{/if}>
								<{foreach item=customField from=$customFields}> 
									<{if $item[$customField.name] && $customField.summarydisp && $customField.display}>
							  			<div><{$customField.caption}> : <{$item[$customField.name]}></div>
							  		<{/if}>
								<{/foreach}>
								
								<div id="smartshop_items_link_url"><{$item.external_link}></div>
								<{if $for_sale && $display.price}>
									<{$smarty.const._CO_SSHOP_ITEM_PRICE}> : <{$item.price}>
								<{/if}>	
								<{if $smartshop_module_use=='boutique'  && $max_qty_basket}>
									<{if $item.message}>
										<{$item.message}>
									<{else}>
										<div>
											<form action='<{$xoops_url}>/modules/smartshop/item.php' method='post'>
											<{$smarty.const._MD_SSHOP_ADD}>
											<{if $qty_opt}>	
												<select name='quantity'>
												<{$qty_opt}>
												</select>
											<{else}>
												<input type='hidden' name='quantity' value='1'>	
											<{/if}>
											<{$smarty.const._MD_SSHOP_TO_BASKET}>
											<input type='hidden' name='itemid' value='<{$item.itemid}>'>
											<input type='submit' name='add_basket' value='<{$smarty.const._MD_SSHOP_SUBMIT}>'>
											</form>
										</div>
									<{/if}>	
								<{/if}>								
		   				    </td>
						</tr>
				  </table>
				</div>
			<{/foreach}>
		</div>
		<{$category.self.pub}>
		<div class="smartshop_pages_navbar"><{$itemnav}></div>
	<{/if}>
</div>
<div><{$footer}></div>
<div class='smartshop_item_print_and_mail'><{$print_link}></div>
<{if $include_search}>
	<{include file="db:smartshop_search.html"}>
<{/if}>
<{include file='db:smartshop_footer.html'}>
<{include file='db:system_notification_select.html'}>