<{include file='db:smartshop_header.html'}>

<{if $index_page}>
	<div class="item">
		<!-- Start categories loop -->
		<{foreach item=category from=$categories}>
			<div class="smartshop_category_index_list">
				<div class="smartshop_categoryname">
					<{if $category.self.image}>
						<img class="smartshop_category_image" src="<{$category.self.image}>" alt="<{$category.self.name}>" width="<{$category_list_image_width}>"/>
					<{/if}>
					<{if $isAdmin}>
						<{$category.self.editItemLink}><{$category.self.deleteItemLink}>
					<{/if}>
					<{$category.self.itemLink}>
				</div>
				<div>
					<{$category.self.description}>
				</div>
				<{if $category.sub}>
					<div class="smartshop_subcats">
						<div class="smartshop_subcats_info"><{$smarty.const._MD_SSHOP_SUBCATEGORIES}></div>
				  		<{foreach name=loop item=subcat from=$category.sub}>
				  			<{$subcat.self.itemLink}><{if $smarty.foreach.loop.iteration < $category.subcatscount}> -<{/if}>
				  		<{/foreach}>
				  	</div>
			  	<{/if}>
			</div>
		<{/foreach}>
		<!-- End categories loop -->
	</div>
<{else}>
	<div>
		<!-- Start categories loop -->
		<{foreach item=category from=$categories}>
			<div class="smartshop_categoryname">
				<{if $isAdmin}>
					<{$category.self.editItemLink}><{$category.self.deleteItemLink}>
				<{/if}>
				<{$category.self.name}>
			</div>
			<div>
				<{if $category.self.image}>
					<img class="smartshop_category_image" src="<{$category.self.image}>" alt="<{$category.self.name}>" width="<{$category_list_image_width}>"/>
				<{/if}>
				<{$category.self.description}>
			</div>
			<div class="smartshop_category_header">
				<{$category.self.header}>
			</div>
			<{if $category.sub}>
				<div class="smartshop_subcats">
					<div class="smartshop_subcats_info"><{$smarty.const._MD_SSHOP_SUBCATEGORIES}></div>
			  		<{foreach name=loop item=subcat from=$category.sub}>
			  			<{$subcat.self.itemLink}><{if $smarty.foreach.loop.iteration < $category.subcatscount}> -<{/if}>
			  		<{/foreach}>
			  	</div>
		  	<{/if}>
		<{/foreach}>
		<!-- End categories loop -->
	</div>
<{/if}>

<div class="smartshop_items_list">
	<{if $items}>
		<div class="smartshop_pages_navbar"><{$itemnav}></div>
			<table>
				<tr  class="head">
					<td ></td>
				  	<td><{if $current_sort == 'name'}>
		  					<a href='<{$xoops_url}>/modules/smartshop/category.php?categoryid=<{$categoryid}>&sort=name&order=<{$rev_order}>'><{$smarty.const._MD_SSHOP_TITLE}><{$order_icon}></a>
		  				<{else}>
		  					<a href='<{$xoops_url}>/modules/smartshop/category.php?categoryid=<{$categoryid}>&sort=name'><{$smarty.const._MD_SSHOP_TITLE}></a>
		  				<{/if}>
				  	</td>			
				  	<{if $display.description}>
				  	<td><{if $current_sort == 'description'}>
		  					<a href='<{$xoops_url}>/modules/smartshop/category.php?categoryid=<{$categoryid}>&sort=description&order=<{$rev_order}>'><{$smarty.const._MD_SSHOP_DESCRIPTION}><{$order_icon}></a>
		  				<{else}>
		  					<a href='<{$xoops_url}>/modules/smartshop/category.php?categoryid=<{$categoryid}>&sort=description'><{$smarty.const._MD_SSHOP_DESCRIPTION}></a>
		  				<{/if}>
				  	</td>
				  	<{/if}>
					<{foreach item=customField from=$customFields}> 
						<{if $customField.summarydisp && $customField.display}>
				  			<td><{if !$customField.sortable}>
				  					<{$customField.caption}>
				  				<{elseif $customField.name == $current_sort}>
				  					<a href='<{$xoops_url}>/modules/smartshop/category.php?categoryid=<{$categoryid}>&sort=<{$customField.name}>&order=<{$rev_order}>'><{$customField.caption}><{$order_icon}></a>
				  				<{else}>
				  					<a href='<{$xoops_url}>/modules/smartshop/category.php?categoryid=<{$categoryid}>&sort=<{$customField.name}>'><{$customField.caption}></a>
				  				<{/if}>
				  							
				  			</td>
				  		<{/if}>
					<{/foreach}>
					<{if $for_sale && $display.price}>
						<td><{if $current_sort == 'price'}>
		  					<a href='<{$xoops_url}>/modules/smartshop/category.php?categoryid=<{$categoryid}>&sort=price&order=<{$rev_order}>'><{$smarty.const._MD_SSHOP_PRICE}><{$order_icon}></a>
		  				<{else}>
		  					<a href='<{$xoops_url}>/modules/smartshop/category.php?categoryid=<{$categoryid}>&sort=price'><{$smarty.const._MD_SSHOP_PRICE}></a>
		  				<{/if}>
				  	</td>
					<{/if}>	
					<{if $smartshop_module_use=='boutique'  && $max_qty_basket}>
						<td>
						</td>
					<{/if}>								
		   		</tr>
				<{foreach key=key item=item from=$sort_array}>
					<tr class='<{cycle values="even, odd"}>'>
						<td height="50" >
			  				<{if $smartshop_module_use == 'adds'}>
			  					<a href="<{$items.$key.link_url}>" target="_blank"><img src="<{$items.$key.image}>"</a>
			  				<{elseif $smartshop_module_use=='boutique'}>
			  					<a href="<{$items.$key.itemUrl}>"><img src="<{$items.$key.image}>"</a>
			  				<{/if}>
			  			</td>
				    	<td>
							<div >
								<{if $smartshop_module_use == 'adds'}>
									<{$items.$key.name}>
								<{elseif $smartshop_module_use=='boutique'}>
									<{$items.$key.itemLink}>
								<{/if}>
							</div>
						</td>
			  		   	<{if $display.description}>
			  		   	<td>
			  		   		<div ><{$items.$key.description}></div>
						</td>	
						<{/if}>
							<{foreach item=customField from=$customFields}> 
								<{if $customField.summarydisp && $customField.display}>
						  			<td><{$items.$key[$customField.name]}></td>
						  		<{/if}>
							<{/foreach}>
							
							<{if $for_sale && $display.price}>
								<td><{$items.$key.price}></td>
							<{/if}>	
							<{if $smartshop_module_use=='boutique'  && $max_qty_basket}>
								<td>
									<{if $items.$key.message}>
										<{$items.$key.message}>
									<{else}>
										<form action='<{$xoops_url}>/modules/smartshop/item.php' method='post'>
										<{$smarty.const._MD_SSHOP_ADD}>
										<{if $qty_opt}>	
											<select name='quantity'>
											<{$qty_opt}>
											</select>
										<{/if}>
										<{$smarty.const._MD_SSHOP_TO_BASKET}>
										<input type='hidden' name='itemid' value='<{$items.$key.itemid}>'>
										<input type='submit' name='add_basket' value='<{$smarty.const._MD_SSHOP_SUBMIT}>'>
										</form>
									<{/if}>	
								</td>
							<{/if}>									
		   			</tr>
				<{/foreach}>
			 </table>
		
			<{$category.self.pub}>
			<div class="smartshop_pages_navbar"><{$itemnav}></div>
		
	<{/if}>
</div>
<div><{$print_link}></div>
<{if $include_search}>
	<{include file="db:smartshop_search.html"}>
<{/if}>
<{include file='db:smartshop_footer.html'}>
<{include file='db:system_notification_select.html'}>